   h1 {
      
   }
   h2 {
      margin-left: 20%; 
   }
   h3 {
      
   }
   p {
      margin-left:20%;
   }
   #p1 {
      text-align: center;
      margin-left: 0;
   }
   img {
      max-width:100%;
      width:666px;
      height:auto;
      display: block;
      margin: auto;
   }
   #audio {
      width: 300px;
      margin: 0 auto;
   }
   body {
      background: url(taustapolka.svg);
      font-family: 'lobster', cursive;
      margin: 0 0 0 0;
   }
   div.container{
      width:100%;
   }
   header {
      padding: 1px;
      margin-left: 70px;
      margin-right: 70px;
      color: #4b4235;
      background-color: #adebdc;
      clear: left;
      text-align: center;
      font-size: 150%;
   }
   footer {
      margin-left: 70px;
      margin-bottom: 70px;
      padding: 1em;
      color: #f9f2ec;
      background-color: #4b4235;
      clear: left;
      text-align: center;
      margin-right: 70px;
      border-bottom: solid #adebdc 10px;
      border-left: solid #adebdc 10px;
      border-right: solid #adebdc 10px;
   }
   #nav {
      font-size: 200%;
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 20px;
      background-color: #adebdc;
   }
   #nav li {
      display: inline;
      border-left: solid #adebdc 10px;
      border-right: solid #adebdc 10px;
   }
   #nav a {
      border-radius: 20%;
      display: inline-block;
      padding: 10px;
   }
   a {
      color: #4b4235;
      text-decoration: none;
   }
   a:hover {
      text-decoration: underline;
   }
   .active {
      text-decoration: underline;
   }
   #a1:hover {
      text-decoration: none;
   }
   article {
      margin-right: 70px;
      margin-left: 70px;
      height: 84vh;
      background-color: #f9f2ec;
      color: #4b4235;
      font-size: 145%;
      padding: 20px;
      overflow: hidden;
      border-right: solid #adebdc 10px;
      border-left: solid #adebdc 10px;
   }
   #article1 {
      height: auto;
   }
